# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
* List the popular languages that data scientist use
* List the commonly used libraries used by Data Scientists
* List common data science tools
* Evaluating arthimetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. caret

|Data Science Tools|
|------------------|
|Jupyterlab|
|Jupyternotebook|
|VsCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/6
hours

33.333333333333336

## Author
Nkundukozera Janvier